<!DOCTYPE html>
<html lang="en" dir="ltr">
  <script>

  </script>
  <%- include('includes/head.ejs') %>
  <link rel="stylesheet" type="text/css" href="css/contacts.css"></link>
  <body>
  <%- include('includes/header.ejs') %>
  <%- include('includes/chatmodule.ejs') %>



  <div class="container">
    <%- include('includes/controlpanel.ejs') %>

    <div class="hub-container flex-3">
      <h2>Contacts</h2></br>
      <div class="main-panel hub-content">

      </div>
    </div>
    <div class="hub-container">
      <div class="message-panel hub-content">
      </div>
    </div>
  </div>


  <%- include('includes/footer.ejs') %>
  <script src="/scripts/contacts.js"></script>
  </body>
</html>
