<!DOCTYPE html>
<html lang="en" dir="ltr">
  <script>
    var resumeUid = '<%= uid %>';
    var firstname = '<%= name %>';
  </script>
  <%- include('includes/head.ejs') %>
  <link rel="stylesheet" type="text/css" href="../css/resume.css"></link>
  <body>

  <%- include('includes/header.ejs') %>
  <%- include('includes/chatmodule.ejs') %>





  <div class="container">
      <%- include('includes/controlpanel.ejs') %>
    <div class="hub-container flex-3">
      <div class="main-header">
        <div class="header-profile-picture"><img class="profile-pic" src="<%= pic %>"></img></div>
        <div class='header-info'>
          <h1><%= name %></h1>
          <h3><%= profession %></h3>
          <i class="fab fa-facebook-square"></i><i class="fab fa-linkedin"></i><i class="fab fa-instagram"></i>
        </div>
      </div>
      <div class="main-panel hub-content">
        <row>
          <div class="about-me panel-content">
            <h2>About me</h2>
            <p id="bio"><%= bio %></p>
          </div>
          <div class="skills panel-content">
            <h2 class="skills-title">Skills</h2>

          </div>
        </row>
        <row>
          <div class="experience panel-content">
            <h2 class="experience-title">Experience</h2>

          </div>
          <div class="education panel-content">
            <h2 class="education-title">Education</h2>

          </div>
        </row>
      </div>
    </div>
    <div class="hub-container"><div class="message-panel hub-content"></div></div>
  </div>
  <%- include('includes/footer.ejs') %>
  <script src="../scripts/resume.js"></script>
  </body>
</html>
